---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Jobtitle from "../components/cv/Jobtitle.astro";
---

<BaseLayout title="Resume">
  <div class="mb-4">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A versatile Software Engineer with over five years of experience in
    designing and implementing complex systems. Specializes in developing
    Middleware systems, RESTful web services, and ETL pipelines using
    technologies such as Spring Boot, Node-ts, and AWS services. Proven track
    record delivering successful projects. Passionate about using technical
    skills to drive business success.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <Jobtitle
      title="Sr Software Engineer"
      companyName="Global Rescue"
      companyLink="https://www.globalrescue.com/"
      style="color: red; text-decoration: none; border-bottom: 2px solid red;"
      fromDate="March/01/2023"
      toDate="Present"
    >
      <ul class="list-disc md:columns-1 columns-2 mx-6">
        <li>
          Led the revamp of a legacy enterprise system (GRID) into a
          microservices architecture using Spring Boot, enhancing system
          efficiency and stability.
        </li>
        <li>
          Directed and completed 4 key microservices, playing a pivotal role in
          the overall project's success.
        </li>
        <li>
          Developed the 'Reference Data' microservice to manage essential data
          (addresses, cities, states, countries), including implementing
          real-time data update capabilities across services using RabbitMQ.
        </li>
        <li>
          Created the 'Intel Service', a core system for maintaining events and
          generating destination reports, boosting analytical capabilities and
          service responsiveness..
        </li>
        <li>
          Implemented OAuth 2.0 security layer in the 'Account Service'
          microservice using Keycloak as an Identity Provider (IDP). Customized
          SPIs for email generation, legacy user support, and runtime JWT token
          claim management.
        </li>
        <li>
          Assisted the DevOps team in developing AWS API Gateway, write
          authentication lambdas for Keycloak, thereby bolstering service
          security.
        </li>
        <li>
          Crafted middleware 'Comm Service' for seamless integration of two
          mobile applications with the new system, ensuring continued service
          availability during system transition.
        </li>
        <li>
          Contributed significantly to an increase in customer renewals
          post-beta release due to system improvements, garnering high
          satisfaction ratings from both internal departments and enterprise
          clients.
        </li>
      </ul>
    </Jobtitle>
    <Jobtitle
      title="Software Engineer"
      companyName="Stella Technologies"
      companyLink="https://stellatechnology.com/"
      style="color: green; text-decoration: none; border-bottom: 2px solid green;"
      fromDate="March/01/2023"
      toDate="Present"
    >
      <ul class="list-disc md:columns-1 columns-2 mx-6">
        <li>
          Played a key role in the IQG project aimed at enhancing healthcare
          interoperability using the HAPI FHIR standard. Contributed to the
          project by developing a dynamic logging module using Spring Boot
          Actuator and a mapping library for transforming SQL-based client data
          to HAPI FHIR specifications.
        </li>
        <li>
          Transitioned to the Inbox Health project, focused on healthcare
          billing solutions for diverse organizations. Main responsibilities
          included the development of a data pipeline for parsing, transforming,
          and loading organization-specific customer data into a standardized
          format for seamless billing operations.
        </li>
        <li>
          Implemented an AWS Lambda function with DynamoDB and a serverless
          function in TypeScript for CSV parsing, thereby enabling efficient
          file uploads, data parsing, and loading to SQL databases using
          Sequelize.
        </li>
      </ul>
    </Jobtitle>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-5">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
    </ul>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div>
</BaseLayout>
