---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">From Engineer Bot</div>
      <div class="text-3xl py-3 font-bold">Software Engineer and Tech Enthusiast</div>
      <div class="py-2">
        <text class="text-justify">
          Zaheer Ud Din is a seasoned Software Engineer sound & hands on experience spanning over five years in the industry. My expertise lies in developing enterprise, web, and mobile systems, with a focus on Middleware systems, RESTful web services, ETL pipelines, and business logic implementation. I am proficient in Spring Boot, Node-ts, and various AWS services, tools that I've employed across diverse work environments, from well-established corporations to dynamic start-ups.
        <br>
        <br>My passion is in leveraging my technical skills to drive business success, which has fueled my commitment to continual learning and growth in this rapidly evolving field. I believe in the power of technology to meet business objectives and strive to ensure that the software I create is not only functional and scalable but also user-friendly.
        <br>
        <br>As you navigate my portfolio, you will find a consistent demonstration of these values through the projects I've undertaken and the professional experiences I've gained. I look forward to the challenges and opportunities that the future holds.          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://twitter.com/zhr_ddn" target="_blank"> Let's connect!</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Demo Project 1"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
